@CHARSET "UTF-8";

/*
 * Layout & General Styling
 */
body {
  padding-top: 70px;
}

/*
 * Global add-ons
 */
 
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.no-wrap
{
	white-space: nowrap;
}

.text-t4k, a {
	color: #DFBF07;
}

.text-t4k:hover, .text-t4k:focus, .text-t4k:active, a:hover, a:focus, a:active {
	color: #ECCA07;
}

.label-t4k, .label-t4k a, .btn-t4k, .btn-t4k a {
	background: #F7ED15;
	color: #221e1f;
	border-color: #E0D612;
}

.btn-t4k:hover, .btn-t4k:focus, .btn-t4k:active, .btn-t4k.active {
	background: #F7DA15;
	border-color: #E0D612;
}